
.vote-up-button {
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-small;
    border-radius: 8px;
}

.vote-down-button {
    background-color: darkred;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-small;
    border-radius: 8px;
}

.menu {
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    border-radius: 8px;
    margin-bottom: 50px;
    width: 75%;
}

.votes-views {
    margin: 50px 10px 0 10px;
    width: 20%;
    padding: 2px 2px 0 2px;
}

.video-links {
    font-size: x-small;
    margin-bottom: 3px;
}

.overlay {
    position: relative;
    margin: 0 auto 50px auto;
    padding: 20px;
    width: 80%;
}

.overlay:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.video-box {
    position: relative;
    margin: 0 auto 50px auto;
    padding: 20px;
    width: 100%;
}


.video-wrapper {
    width: 90%;
    max-width: 640px;
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    z-index: 0;
}

.video-wrapper iframe  {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1;
}